body {
  background-color: #333;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16pt;
  margin: 0;
  padding: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
